body{
    background-image: url(images/body_image.jpg);
    background-size: 100%;
}

/* ===========================Header============================= */
.header{
    margin: auto;
    background-color: #000000cb;
    width: 90%;
    height: 170px;
    border: 3px solid rgba(255, 255, 255, 0.952);
    border-radius: 10px;
}

.logoOrTitle{
    margin: auto;
    /* background-color: #838679; */
    width: 98%;
    height: 105px;
}
.logoOrTitle h2{
    transform: translate(0px, -110px);
    text-align: center;
    font-size: 40px;
    font-family: roboto;
    color: white;
}
#logo{
    transform: translate(0px, 5px);
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.705);
    border-radius: 50%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;
}

.manu{
    color: #ffffff;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.527);
    width: 50%;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.836);
    border-radius: 7px;
}
.manu a{
    float: left;
    margin-left: 66px;
    transform: translate(0px, 8px);
    color: white;
    font-size: 28px;
    font-family: LT Internet, sans-serif;
    text-decoration: none;
}
/* ====================End Header===================== */

#main{
    margin: auto;
    background-color: #000000b7 ;
    width: 80%;
    border: 5px solid rgba(255, 255, 255, 0.884);
    border-radius: 10px;
}
#main h1{
    font-family: Quantify;
    color: #faf2fa ;
    font-size: 35px;
}
#line{
    margin: auto;
    transform: translate(0px, -15px);
    width: 50%;
    border: 4px solid rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}

#about_course{
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}
#about_course h2{
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: cano;

}
.u_line{
    margin: auto;
    transform: translate(0px, -30px);
    width: 200px;
    border: 2px solid gray;
    border-radius: 10px;
}
#about_course div address{
    color: rgb(3, 3, 37);
    margin-left: 60px;
    font-size: 22px;
    font-family: 'stark';
    transform: translate(0px, -10px);
}

/* ============================List========================*/
.main_list{
    color: rgb(3, 3, 37);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 370px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;


}
.main_list h2{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: cano;
}
.list_heading{
    float: left;
    margin-left: 70px;
    transform: translate(0px, -20px);
    background-color: #e5ff9d;
    width: 35%;
    height: 50px;
    border-radius: 5px;
}
.list_heading h3{
    color: #4D084F;
    font-size: 30px;
    text-align: center;
    transform: translate(0px, -25px);
    font-family: 'Sans Mateo 2';
}
.list_1_2{
    transform: translate(0px, -10px);
    float: left;
    margin-left: 23px;
    background-color: #ffffff;
    width: 45%;
    height: 220px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.767) 0px 3px 7px;

    font-size: 20px;
    font-family:'stark';
}
/* ========================== End List=============================== */

/* ========================= End Table=========================== */
#main_table{
    color: rgb(3, 3, 37);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 94%;
    height: 340px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}
#table_logo{
    float: right;
    transform: translate(-30px, 5px);
    background-color: #4D084F;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
#table_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_table h2{
    text-align: center;
    transform: translate(0px, 7px);
    padding: 10px;
    font-size: 30px;
    font-family: cano;
}
#main_table h3{
    font-size: 20px;
    font-family: stark;
    padding-left: 50px;
    transform: translate(0px, -80px);
}
#main_table pre{
    transform: translate(-120px, -78px);
    font-size: 18px;
    font-family: hack;
}
#main_table table{
    margin: auto;
    transform: translate(0px, -115px);
    text-align: center;
    width: 95%;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 5px;
}
#heading_tr th{
    border: 3px solid rgb(42, 43, 42);
    border-radius: 3px;
    height: 20px;
}
#data_tr td{
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    height: 20px;
    font-family: 'LT Internet';
    font-size: 16px;
}
#table_p{
    margin-top: -105px;
    padding-left: 30px;
    font-size: 22px;
    font-family: 'Bainsley';
}
/* ========================= End Table=========================== */

/* =================================FORM======================== */
/* Form Without Muse Hover */
.main_form{
    margin-left: 300px;
    width: 40%;
    background-image: url(images/form_image.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.7;
}
/* Mouse Hover */
.main_form:hover{
    margin-left: 300px;
    width: 40%;
    background-image: url(images/form_image.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 1;
}
.register{
    margin: auto;
    color: #ffffff;
    width: 80%;
}
.register h2{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
}
/* Without Mouse hover */
#form_register{
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Sans Mateo 2';
    opacity: 0.1;
}
#lable_N_A_E input{
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    box-shadow:  rgba(0, 0, 0, 0.658) 2px 2px 1px inset;
}
#gender_L_S{
    font-size: 16px;
}
#gender_L_S label{
    font-size: 18px;
}

/* Mouse hover */
#form_register:hover{
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    font-family: 'Sans Mateo 2';
    opacity: 1;

}

#lable_N_A_E input:hover{
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    box-shadow:  rgba(0, 0, 0, 0.658) 2px 2px 1px inset;
}
#gender_L_S:hover{
    font-size: 16px;
}
#gender_L_S label:hover{
    font-size: 18px;
}
#submit{
    text-align: center;
}
#submit input{
    width: 30%;
    font-size: 18px;
    border-radius: 3px;
}
/* ================= End FORM==================== */

/* ==================My picture=================== */
.my_picture{
    margin: auto;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    width: 500px;
    height: 500px;
}
.picture{
    margin: auto;
    transform: translate(0px, 20px);
    width: 92%;
    height: 92%;
    background-color: #fdfdfd;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.452) -2px 2px 5px,
     rgba(0, 0, 0, 0.459) 5px 3px 5px,
     rgba(0, 0, 0, 0.459) -2px -3px 5px;
}
#picture img{
    transform: translate(9px, 9px);
    width: 96%;
    height: 96%;
    object-fit: cover;
    border-radius: 50%;
}