body{
    background-image: url(images/table.jpg);
    background-size: 100%;
}

/* ===========================Header============================= */
.header{
    margin: auto;
    background-color: #000000cb;
    width: 90%;
    height: 170px;
    border: 3px solid rgba(255, 255, 255, 0.952);
    border-radius: 10px;
}

.logoOrTitle{
    margin: auto;
    /* background-color: #838679; */
    width: 98%;
    height: 105px;
}
.logoOrTitle h2{
    transform: translate(0px, -110px);
    text-align: center;
    font-size: 40px;
    font-family: roboto;
    color: white;
}
#logo{
    transform: translate(0px, 5px);
    margin-left: 30px;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0.705);
    border-radius: 50%;
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.7;
}

.manu{
    color: #ffffff;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.527);
    width: 50%;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.836);
    border-radius: 7px;
}
.manu a{
    float: left;
    margin-left: 66px;
    transform: translate(0px, 8px);
    color: white;
    font-size: 28px;
    font-family: LT Internet, sans-serif;
    text-decoration: none;
}
/* ====================End Header===================== */

#main{
    margin: auto;
    background-color: #000000b7 ;
    width: 80%;
    border: 5px solid rgba(255, 255, 255, 0.884);
    border-radius: 10px;
}

#line{
    margin: auto;
    transform: translate(0px, -15px);
    width: 50%;
    border: 4px solid rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}

/* ========================= End Table=========================== */
#main_table{
    color: rgb(3, 3, 37);
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 94%;
    height: 340px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 5px 15px;
}
#table_logo{
    float: right;
    transform: translate(-30px, 5px);
    background-color: #4D084F;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
#table_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_table h2{
    text-align: center;
    transform: translate(0px, 7px);
    padding: 10px;
    font-size: 30px;
    font-family: cano;
}
#main_table h3{
    font-size: 20px;
    font-family: stark;
    padding-left: 50px;
    transform: translate(0px, -80px);
}
#main_table pre{
    transform: translate(-120px, -78px);
    font-size: 18px;
    font-family: hack;
}
#main_table table{
    margin: auto;
    transform: translate(0px, -115px);
    text-align: center;
    width: 95%;
    border: 1px solid rgb(54, 53, 53);
    border-radius: 5px;
}
#heading_tr th{
    border: 3px solid rgb(42, 43, 42);
    border-radius: 3px;
    height: 20px;
}
#data_tr td{
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    height: 20px;
    font-family: 'LT Internet';
    font-size: 16px;
}
#table_p{
    margin-top: -105px;
    padding-left: 30px;
    font-size: 22px;
    font-family: 'Bainsley';
}
/* ========================= End Table=========================== */
.u_line{
    margin: auto;
    transform: translate(0px, -30px);
    width: 200px;
    border: 2px solid gray;
    border-radius: 10px;
}